/* COMMON STYLES - START */
:root {
  --primary-black: #191919;
  --primary-blue: #3c4ba6;
  --primary-white: #fff;
}

body {
  max-width: 1440px;
  padding-left: 147px;
  padding-right: 147px;
}
/* COMMON STYLES - END */

/* HEADER - START */
.header-container {
  margin-top: 55px;
  margin-bottom: 127px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
}
/* HEADER - END */
